<div *ngIf="!roomService.waitingFullRoom; else spinner" class="games">
  <div class="game" (click)="openJoinRoomDialog('tictactoe')">
    <img class="game__image" src="assets/tictactoe.png"/>
    <img class="game__image--over" src="assets/tictactoe.png"/>
    <div class="game__over"></div>
    <div class="game__title"> TIC TAC TOE </div>
  </div>
  <div class="game" (click)="openJoinRoomDialog('hangman')">
    <img class="game__image hangman" src="assets/hangman.png"/>
    <img class="game__image--over" src="assets/hangman.png"/>
    <div class="game__over"></div>
    <div class="game__title"> HANGMAN </div>
  </div>
</div>
<ng-template #spinner>
  <div class="spinner">
    <mat-spinner color="accent"></mat-spinner>
    <h2 class="spinner__text">Waiting other paticipans to join</h2>
  </div>
</ng-template>