<div class="roomType" color="accent">
  Tic-Tac-Toe Rooms 
</div>
<div class="room__wrapper" *ngFor="let room of roomService.getTicTacToeRooms()">
  <div class="room">Room {{room.roomId}}</div>
  <button
    class="buttonJoin"
    mat-stroked-button
    color="accent"
    (click)="onJoinRoom(room)"
  >
    Join
  </button>
</div>

<div class="roomType" color="accent">
  Hangman Rooms 
</div>
<div class="room__wrapper" *ngFor="let room of roomService.getHangmanRooms()">
  <div class="room">Room {{room.roomId}}</div>
  <button
    class="buttonJoin"
    mat-stroked-button
    color="accent"
    (click)="onJoinRoom(room)"
  >
    Join
  </button>
</div>