.roomType {
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 4px;
}  

.room {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}