<div class="roomType" color="accent">
  Tic-Tac-Toe Rooms 
</div>
<div *ngFor="let room of roomService.getTicTacToeRooms()">
  <div class="room">Room {{room.roomId}}</div>
  <button class="buttonJoin" mat-mini-fab color="accent" (click)="onJoinRoom(room)">
    Join
  </button>
</div>

<div class="roomType" color="accent">
  Hangman Rooms 
</div>
<div *ngFor="let room of roomService.getHangmanRooms()">
  <div class="room">Room {{room.roomId}}</div>
  <button class="buttonJoin" mat-mini-fab color="accent" (click)="onJoinRoom(room)">
    Join
  </button>
</div>