<div class="dialog">
    <h1 mat-dialog-title>
        Create New Room
    </h1>
    <div mat-dialog-content>
      <mat-label>Choose game</mat-label>
    </div>
    <div mat-dialog-actions>
        <button
        mat-raised-button
        color="accent"
        class="dialog__button"
        mat-dialog-close
        mat-dialog-close="xo"
        >Room for Tic-Tac-Toe</button>
        
        <button
        mat-raised-button
        color="accent"
        class="dialog__button"
        mat-dialog-close
        mat-dialog-close="hm"
        >Room for Hangman</button>
    </div>
</div>
