.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: -webkit-fill-available;
  margin: 100px 0;

  &__title {
    color: #424242;
  }

  &__result {
    color: #424242;
    margin-bottom: 50px;
  }

  &__display {
    display: flex;
    align-items: center;
  }

  &__status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hangman {
    height: 310px;
    width: 310px;

    img {
      height: 100%;
    }
  }

  .word {
    display: flex;
    width: 200px;

    &__letter {
      color: #424242;
      padding: 2px;
    }
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__row {
    margin: 3px;
  }

  &__key {
    margin: 3px;

    &:hover {
      transform: scale(0.98);
      box-shadow: none;
    }

    &--pressed {
      transform: scale(0.98);
      box-shadow: none;
    }

    &[disabled] {
      color: #424242;
      background-color: #69f0ae;
      opacity: .5;
    }
  }
}

.picked-word {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  padding: 10px;
  border-radius: 4px;

  &__input {
    margin-right: 10px;
  }
}


.hide {
  opacity: 0;
}

.incorrect-letters {
  display: flex;
  justify-content: center;
  align-items: center;

  .incorrect-letter {
    margin-right: 5px;
    color: #424242;
  }
}
