<div class="game">
  <h1 class="game__title">HANGMAN</h1>
  
  <div class="game__display">
    <div class="hangman">
      <ng-container [ngSwitch]="guessedIncorrectLetters.length">
        <img *ngSwitchCase=0 src="assets/hangman0.png">
        <img *ngSwitchCase=1 src="assets/hangman1.png">
        <img *ngSwitchCase=2 src="assets/hangman2.png">
        <img *ngSwitchCase=3 src="assets/hangman3.png">
        <img *ngSwitchCase=4 src="assets/hangman4.png">
        <img *ngSwitchCase=5 src="assets/hangman5.png">
        <img *ngSwitchCase=6 src="assets/hangman6.png">
        <img *ngSwitchCase=7 src="assets/hangman7.png">
      </ng-container>
    </div>

    <div class="game__status">
      <div *ngIf="gameOver; else gameTurn">
        <h2
          class="game__result"
        >
          {{result}}
        </h2>
      </div>

      <ng-template #gameTurn>
        <h2
          class="game__result"
        >
          {{turn}}
        </h2>
      </ng-template>

      <div class="word">
        <div *ngFor="let letter of guessedWord">
          <h1 class="word__letter">
            {{letter}}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="player == 'Choose'; else guessPlayer" class="picked-word"  [ngClass]="{'hide': wordIsPicked}">
    <mat-form-field color="accent" class="picked-word__input">
      <mat-label>Picked word</mat-label>
        <input
          matInput
          placeholder="Enter word"
          [(ngModel)]="pickedWord"
        />
      </mat-form-field>
    <button
      [ngClass]="{'hide': wordIsPicked }"
      mat-raised-button color="accent"
      (click)="onChooseWord()"
    >
      Choose word
    </button>
  </div>

  <div *ngIf="player == 'Choose'" class="incorrect-letters">
    <div *ngFor="let letter of guessedIncorrectLetters" class="keyboard__row">
      <h2 class="incorrect-letter">
        {{letter}}
      </h2>
    </div>
  </div>
  
  <ng-template #guessPlayer>
  <div class="keyboard">
    <div
      *ngFor="let row of keyboard; let i = index"
      class="keyboard__row"
    >
      <span *ngFor="let key of row">
        <ng-container [ngSwitch]="key.pressed">
          <button
            class="keyboard__key"
            *ngSwitchCase="false"
            mat-raised-button
            color="accent"
            (click)="onClickLetter(key.letter, i)"
          >
            {{ key.letter }}
          </button>

          <button
            class="keyboard__key keyboard__key--pressed"
            *ngSwitchCase="true"
            mat-raised-button
            disabled
          >
            {{ key.letter }}
          </button>
        </ng-container>
      </span>
    </div>
  </div>
  </ng-template>

</div>