<div class="game">
  <h1 class="game__title">HANGMAN</h1>
  
  <div class="game__display">
    <div class="hangman">
      <ng-container [ngSwitch]="guessedIncorrectLetters.length">
        <img *ngSwitchCase=0 src="assets/hangman0.png">
        <img *ngSwitchCase=1 src="assets/hangman1.png">
        <img *ngSwitchCase=2 src="assets/hangman2.png">
        <img *ngSwitchCase=3 src="assets/hangman3.png">
        <img *ngSwitchCase=4 src="assets/hangman4.png">
        <img *ngSwitchCase=5 src="assets/hangman5.png">
        <img *ngSwitchCase=6 src="assets/hangman6.png">
        <img *ngSwitchCase=7 src="assets/hangman7.png">
      </ng-container>
    </div>

    <div>
      <h2
        class="game__result"
        [ngClass]="{'hide': !gameOver}"
      >
        {{result}}
      </h2>

      <div class="word">
        <div *ngFor="let letter of guessedWord">
          <h1 class="word__letter">
            {{letter}}
          </h1>
        </div>
      </div>
    </div>
  </div>

    <input type="text" 
    [ngClass]="{'hide': player != 'Choose' || wordIsPicked }"
    [(ngModel)]="pickedWord">
    <button
    [ngClass]="{'hide': player != 'Choose' || wordIsPicked }"
    mat-raised-button color="accent"
    (click)="onChooseWord()"
    >
      Choose word
    </button>

  <div>
      <h2
        class="game__result"
        [ngClass]="{'hide': gameOver}"
      >
        {{turn}}
      </h2>
  </div>
  <div>
      <div
        [ngClass]="{'hide': player != 'Choose' }"
      >
        <div *ngFor="let letter of guessedIncorrectLetters">
          <h1 class="word__letter">
            {{letter}}
          </h1>
        </div>
      </div>
  </div>


  <div [ngClass]="{'hide': player == 'Choose'}">
  <div class="keyboard">
    <div
      *ngFor="let row of keyboard; let i = index"
      class="keyboard__row"
    >
      <span *ngFor="let key of row">
        <ng-container [ngSwitch]="key.pressed">
          <button
            class="keyboard__key"
            *ngSwitchCase="false"
            mat-raised-button
            color="accent"
            (click)="onClickLetter(key.letter, i)"
          >
            {{ key.letter }}
          </button>

          <button
            class="keyboard__key keyboard__key--pressed"
            *ngSwitchCase="true"
            mat-raised-button
            disabled
          >
            {{ key.letter }}
          </button>
        </ng-container>
      </span>
    </div>
  </div>
  </div>
</div>