.sidebar {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: -webkit-fill-available;

  &__btn {
    margin-right: 20px;
  }

  &__chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 4px;
    max-height: 70vh;
    height: 1000px;
    width: 260px;
    box-sizing: border-box;
    margin: 40px 0;
    flex-grow: 1;
    border: 1px solid grey;
  }
}

.sameWithButtons {
  width: 120px;
}

.username {
  width: 120px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  color: #69f0ae;
  text-align: center;
}