<div class="sidebar">
  <div *ngIf="!authService.isUserSignedIn; else notSignedInButton">
    <button
      class="sameWithButtons sidebar__btn"
      mat-raised-button
      color="accent"
      
      (click)="openSignInDialog()"
    >
      Sign In
    </button>
    <button
      class="sameWithButtons"
      mat-stroked-button
      color="accent"
      (click)="openSignUpDialog()"
    >
      Sing Up
    </button>
  </div>
  <ng-template #notSignedInButton>
    <div>
      <button
        class="sameWithButtons sidebar__btn"
        mat-raised-button
        color="accent"
        
        (click)="signOut()"
      >
        Sign Out
      </button>
    </div>
  </ng-template>

  <app-chat class='sidebar__chat'>
  </app-chat>

  <div>
    <button
      class="sameWithButtons sidebar__btn"
      mat-raised-button
      color="accent"
      (click)="openJoinRoomDialog()"
    >
      Join Room
    </button>
    <button
      class="sameWithButtons"
      mat-stroked-button
      color="accent"
      (click)="openCreateRoomDialog()"
    >
      Create Room
    </button>
  </div>
</div>

<ng-template #notSignedInDialog>
  <h2 matDialogTitle>
    You're not signed in!
  </h2>
  <p matDialogContent>To enter or create new room, please sign in.</p>
  
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Dismiss</button>
  </mat-dialog-actions>

</ng-template>