<div class="sidebar">
  <div *ngIf="!authService.isUserSignedIn; else notSignedInButton">
    <button
      class="sameWithButtons sidebar__btn"
      mat-raised-button
      color="accent"
      
      (click)="openSignInDialog()"
    >
      Sign In
    </button>
    <button
      class="sameWithButtons"
      mat-stroked-button
      color="accent"
      (click)="openSignUpDialog()"
    >
      Sing Up
    </button>
  </div>
  <ng-template #notSignedInButton>
    <div>
      <button
        class="sameWithButtons sidebar__btn"
        mat-raised-button
        color="accent"
        
        (click)="signOut()"
      >
        Sign Out
      </button>
    </div>
  </ng-template>

  <div *ngIf="roomService.gameInProgress; else joinDisplay">
    <app-chat class='sidebar__chat'>
    </app-chat>

    <button
        class="sameWithButtons"
        mat-stroked-button
        color="accent"
        (click)="closeRoom()"
      >
        Close room
      </button>
  </div>

  <ng-template #joinDisplay>
    <div style="flex-grow: 1" *ngIf="authService.isUserSignedIn">
    <app-join-room class='sidebar__chat'></app-join-room>
    </div>

    <!-- change logic after connect with backend for groups -->
    <!--
    <div style="flex-grow: 1" *ngIf="authService.isUserSignedIn">
      <app-chat class='sidebar__chat'></app-chat>
    </div> -->

    <div>
      <button
        class="sameWithButtons"
        mat-stroked-button
        color="accent"
        (click)="openCreateRoomDialog()"
      >
        Create Room
      </button>
    </div>
  </ng-template>

</div>