.sidebar {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: -webkit-fill-available;

  &__btn {
    margin-right: 20px;
  }
}

.sameWithButtons {
  width: 120px;
 }